<div class="col-sm-9" *ngIf ="selectedCity">
            <h4>Weather Data</h4>
            <hr>
            <h2>{{selectedCity}}</h2>

            <div class="input-group">
                <span class="input-group-addon">Conditions</span>
                <input id="msg" type="text" class="form-control" name="msg" [(ngModel)]="condition">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">Temperature</span>
                <input id="msg" type="text" class="form-control"  name="msg" [(ngModel)]="temperature">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">Pressure</span>
                <input id="msg" type="text" class="form-control" name="msg" [(ngModel)]="pressure">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">Humidity</span>
                <input id="msg" type="text" class="form-control" name="msg" [(ngModel)]="humidity">
            </div>
            <br><br>
        </div>