<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Cities</h4>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" (click)="f.onClick($event)" id="Sydney">Sydney</button>
                <button type="button" class="btn btn-primary" (click)="f.onClick($event)" id="Melbourne">Melbourne</button>
                <button type="button" class="btn btn-primary" (click)="f.onClick($event)" id="Brisbane">Brisbane</button>
                <button type="button" class="btn btn-primary" (click)="f.onClick($event)" id="Adelaide">Adelaide</button>
                <button type="button" class="btn btn-primary" (click)="f.onClick($event)" id="Perth">Perth</button>
                
            </div><br>
        </div>
        <div class="child">
               <child #f ></child>
           </div>
        
    </div>
</div>

<footer class="container-fluid">
    <p>Copyright © 2017 Himanshu Dixit </p>
</footer>